<!DOCTYPE html>
<html lang="pl">
<head>
  <title></title>
  <script src="https://kit.fontawesome.com/864dcc05b6.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="root">
    <table class="calendar">
      <caption class="calendar__caption">Calendar</caption>
      <tr class="calendar__header">
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>Sun</td>
      </tr>
        <tr class="calendar__1row">
          <td class="1row__Mon">1</td>
          <td class="1row__Tue">2</td>
          <td class="1row__Wed">3</td>
          <td class="1row__Thu">4</td>
          <td class="1row__Fri">5</td>
          <td class="1row__Sat">6</td>
          <td class="1row__Sun">7</td>
        </tr>
        <tr class="calendar__2row">
          <td class="2row__Mon">1</td>
          <td class="2row__Tue">2</td>
          <td class="2row__Wed">3</td>
          <td class="2row__Thu">4</td>
          <td class="2row__Fri">5</td>
          <td class="2row__Sat">6</td>
          <td class="2row__Sun">7</td>
        </tr>
        <tr class="calendar__3row">
          <td class="3row__Mon">1</td>
          <td class="3row__Tue">2</td>
          <td class="3row__Wed">3</td>
          <td class="3row__Thu">4</td>
          <td class="3row__Fri">5</td>
          <td class="3row__Sat">6</td>
          <td class="3row__Sun">7</td>
        </tr>
        <tr class="calendar__4row">
          <td class="4row__Mon">1</td>
          <td class="4row__Tue">2</td>
          <td class="4row__Wed">3</td>
          <td class="4row__Thu">4</td>
          <td class="4row__Fri">5</td>
          <td class="4row__Sat">6</td>
          <td class="4row__Sun">7</td>
        </tr>
        <tr class="calendar__5row">
          <td class="5row__Mon">1</td>
          <td class="5row__Tue">2</td>
          <td class="5row__Wed">3</td>
          <td class="5row__Thu">4</td>
          <td class="5row__Fri">5</td>
          <td class="5row__Sat">6</td>
          <td class="5row__Sun">7</td>
        </tr>
        <tr class="calendar__6row">
          <td class="6row__Mon">1</td>
          <td class="6row__Tue">2</td>
          <td class="6row__Wed">3</td>
          <td class="6row__Thu">4</td>
          <td class="6row__Fri">5</td>
          <td class="6row__Sat">6</td>
          <td class="6row__Sun">7</td>
        </tr>
      <tr class="calendar__buttons">
        <td><button><<</button></td>
        <td colspan="5" class="calendar__month">Month</td>
        <td><button>>></button></td>
      </tr>
    </table>
  </div>
</body>
</html>