body {
 background-color: whitesmoke;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.root {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


table.calendar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border: 1px solid gray;
    flex-direction: row;
}

table.calendar td {
    /* border: 1px solid black; */
    min-width: 32px;
    min-height: 48px;
    padding: 8px;
    text-align: center;
}

form {
    margin: 10px
}

.calendar__buttons {
    text-align: center;
}

td[data-now=true] {
    color: #fcfcfd;
    background-color: #cacaca;
    border-radius: 48px;
}

td[data-dayofweek="0"] {
    color: red;
}

td[data-current=false] {
    color:#cacaca;
}