table.calendar {
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid gray;
}
table.calendar td {
    /* border: 1px solid black; */
    width: 24px;
    height: 24px;
    padding: 2px;
    text-align: center;
}

.calendar__buttons {
    text-align: center;
}

td[data-now=true] {
    color: #fcfcfd;
    background-color: #cacaca;
    border-radius: 48px;
}

td[data-dayofweek="0"] {
    color: red;
}

td[data-current=false] {
    color:#cacaca;
}